.ldsdual_ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.ldsdual_ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #dfc;
  border-color: #dfc transparent #dfc transparent;
  animation: ldsdual_ring 1.2s linear infinite;
}
@keyframes ldsdual_ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
