.userPhoto {
height: 100px;
width: 100px;
}

.selectedPage {
font-weight:800;
}

.button_follow {
    min-width: 120px;
    height: 45px;
    line-height: 20px;
    cursor: pointer;
    
}

.follow_1 {
    font-size:larger;
}

.follow_2{
    font-style:italic;
}


/* .button_follow span:after {
    content: "500K+ subscribers";
    display: block;
    font-weight: 400;
    margin-top: 0.25rem;
} */


