.nav {
  grid-area: n;
  background:linear-gradient(180deg, rgb(216, 205, 104), rgb(49, 49, 53));
  padding: 20px;
  }

.item a{
  color:white;
  text-decoration: none;
}

.item a.activeLink {
  color:goldenrod;

}