.login {
    background:linear-gradient(45deg, rgb(216, 205, 104), rgb(49, 49, 53));
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */


}
.position1 {
    grid-column:1;
    /* grid-row:1; */
}


.position2 {
    grid-column:4;
    /* grid-row:1; */
}


/* .box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.box2 {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
} */