
.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems .dialog {
 color:greenyellow;
 padding: 10px;
}

.dialogsItems .active {
    color:goldenrod
}

.messages {

}

.messages_2 {
 color:chartreuse;
 padding: 10px;
 
}